nav{
    background-color: rgb(255, 192, 239);
    padding: 5px;
}

nav ul li:hover{
    background-color: palevioletred;
}
nav ul{
    text-align: center;
    font-size: 1.2em;
}

nav ul li{
    list-style: none;
    background-color: black;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px silver;
    border-radius: 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

header{
    background-color: white;
    padding: 10px;
}
table{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
    margin: 20px;
}
th,td,tr {
    border: 1px solid white;
    text-align: lefts;
}
.col_detail {
    column-count: 3;
    column-rule: 2px solid rgb(219, 12, 98);
    column-gap: 50px;
    padding: 2px;
    text-align: justify;
}

footer ul li {
    list-style-type: none;
    color: white;
    display: inline;
    padding: 15px;
}
footer ul li a {
    color: white;
    text-decoration: none;
    display: inline;
}
footer {
    clear: both;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: palevioletred;
    text-align: center;
}
main a{
    color: palevioletred;
}
aside
{
    border: 1px solid palevioletred;
    float: right;
    width: 18%;
}
#Maincontent {
    float: left;
    width: 80%;
    border: 1px solid rgb(237, 102, 145);
}
aside ul li {
    list-style-type: none;
}
aside ul li a{
    color: pink;
    text-decoration: none;
}
body{
    font-family: Verdana;
    background-color:black;
    color: white;
}
p {
    text-align: justify;
    padding: 2px;
}
.course {
    text-align: center;
    border: 1px solid white;
    padding: 10px;
}
.videoContent {
    float:center;
    width: 100%;
    border: 2px solid white;
    max-height: 500px;
    min-height: 500px;
    overflow: auto;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Verdana, sans-serif;
}
.container{
    width: 100%;
    height:100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
h1{
    color: palevioletred;
    margin-bottom: 60px;
}
iframe {
    width: 80%;
    height: 500px;
}
h2{
    color: palevioletred;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 1rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid palevioletred;
    border-radius: 5px;
  }
  
  input[type="file"] {
    margin-top: 0.5rem;
  }
  
  input[type="submit"] {
    background-color:rgb(234, 19, 170);
    color: black;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
  }
 
  
  
  
  
  